<footer class="text-center">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<div class="border-top pt-4 row justify-content-md-center">
		<div class="col-sm-3">
			<strong>Address</strong>
			<address>
				{% if site.building %} {{site.building}} {% endif %}
        <br>
				{% if site.street %} {{site.street}} {% endif %}
        <br>
				{% if site.city %} {{site.city}} {% endif %}
				{% if site.postcode %} {{site.postcode}} {% endif %}
        <br>
				{% if site.country %} {{site.country}} {% endif %}
			</address>
		</div>
		<div class="col-sm-3">
			<strong>Email</strong><br>
			<a class="text-secondary" href="mailto:{{site.email}}">{{site.email}}</a>
      <br>
      {% if site.secondary %}
        <a class="text-secondary" href="mailto:{{site.secondary}}">{{site.secondary}}</a>
      {% endif %}
	</div>
  <div class="col-sm-3">
    <strong>Projects</strong> <br>
    <a class="text-secondary" href="https://github.com/beam-tracing/Scotty">The Scotty beam-tracing code</a>
	</div>
</div>
<span class="text-center pb-3">
  © {{ site.fullname }} {{ site.time | date: "%Y" }}
</span>
</footer>
