{% for person in include.people %}
<div class='mt-2 mb-3'>

{{ person.name }}

{% if person.website %}
<a class="badge badge-pill badge-secondary" href="{{ person.website }}">link</a>
{% endif %}

<br>

{% if person.title %} {{ person.title }}, {% endif %}
{% if person.affiliation %} {{ person.affiliation }}. {% endif %}
{% if person.status == 'incoming' %} (incoming) {% endif %}

<br>

{% if person.blurb %}
<div class="text-secondary">
{{ person.blurb }}
</div>
{% endif %}

</div>

{% endfor %}
