<!doctype html>
<html>
  {% include head.html %}
	<body>
    <div class="container">
  		{% include navigation.html %}
      <section class="row pt-4 pb-4">
        <div class="col-md-4 d-none d-md-block">
          <div class="mt-4 mb-4 text-center">
              <img src="assets/images/{{ page.image }}" class="img-fluid" alt="{{ page.caption }}">
              <small>{{ page.caption }}</small>
          </div>
        </div>

        <div class="col-md-8 py-4">
          {{ content }}
        </div>

      </section>
  		{% include footer.html %}
    </div>
	</body>
</html>
