<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include navigation.html %}
      <section class="row py-4">
        <div class="col-md-3 d-none d-md-block">
          <div class="mt-4 mb-4 text-center">
            <img src="assets/images/{{page.image}}" class="img-fluid img-thumbnail rounded" alt="An image of my face.">
            <h4 class="mt-1">{{ site.fullname }}</h4>
            <p class="text-center">
            {{ site.position }}
            <br>
            {{ site.department }}
            <br>
            {{ site.university }}
            </p>
          </div>
        </div>

        <div class="col-md-9 py-4 lead">
          {{ content }}
        </div>
      </section>
      {% include footer.html %}
    </div>
  </body>
</html>
